{% extends 'base.html' %}

{% block title %} All Products{% endblock title %}

{%block content%}
    <h2>Product Catalog</h2>

    {% for product in products%}
        <div>

            {% if product.image%}
                <img src="{{product.image.url}}" alt="{{product.name}}" width="100">
            {%endif%}
            
            <h3>
                <a href={% url 'product_details' pk=product.pk%}>
                {{ product.name}}
                </a>
            </h3>
            
            <p>Price: {{ product.price }}<p/>
            <hr>
        </div> 
    {%empty%} 
        <p>No product found in </p>
    {% endfor %}
{% endblock content %}                  

